@import "../constants.scss";

.ContactPageBody {
  padding: 1em;

  .TableWrapper {
    overflow-y: scroll;
    box-shadow: $boxShadow;
    font-family: Aleo, Helvetica;
    min-width: 50vw;

    h3 {
      padding: 1em;
      font-weight: 900;
      font-size: 1.3em;
    }
  }
}
