@import "../constants.scss";

.EventsPageBody {
  padding: 3em;

  h3 {
    padding: 1em;
    font-weight: 900;
    font-size: 1.3em;
  }

  .EventWrapper {
    .EventsGridItem {
      min-height: 20vw;
    }
  }
}

@media screen and (max-width: $mobileMediaThreshold) {
  .EventsPageBody {
    padding: 1em;

    .EventWrapper {
      grid-template-columns: repeat(auto-fill, 100%);

      .EventsGridItem {
        min-height: 55vw;
      }
    }
  }
}
