@import "../constants.scss";

.FacultyPageBody {
  padding: 1em;

  .FacultyGrid {
    min-width: 50vw;

    .Faculty {
      font-family: Aleo, Arial, Helvetica, sans-serif;
      background-color: white;
      padding: 1em;
      border-radius: 1em;
      box-shadow: $boxShadow;

      img {
        height: 7em;
        width: 7em;
        border-radius: 100em;
      }

      h4 {
        font-size: 1.5em;
        font-family: Aleo, Arial, Helvetica, sans-serif;
        margin-bottom: 0.2em;
      }
      p {
        font-size: 1em;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: $mobileMediaThreshold) {
  .FacultyPageBody {
    padding: 1em;

    .FacultyGrid {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }
}
