@import "../constants.scss";

.ViewEventBody {
  padding: 3em;

  h3 {
    font-weight: 900;
    font-size: 2em;
  }
  p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: $mobileMediaThreshold) {
  .ViewEventBody {
    padding: 1em;
  }
}
