@import "../constants.scss";

.ViewNoticeBody {
  padding: 3em;

  h3 {
    font-weight: 900;
    font-size: 2em;
  }
}

@media screen and (max-width: $mobileMediaThreshold) {
  .ViewNoticeBody {
    padding: 1em;
  }
}
