@import "./constants.scss";

.Header {
  background-color: rgba(255, 99, 99, 0.73);
  backdrop-filter: saturate(70%) blur(4px);
  // box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
  width: 100%;
  padding-left: $paddingLeftHeader;
  position: relative;
  z-index: 1000;

  .UpperRowWrapper {
    width: 100%;
    overflow: hidden;

    .Logo {
      height: 7em;
      width: 7em;
    }

    .PcMovingHeadlineWrapper,
    .MobileMovingHeadlineWrapper {
      background-color: black;
      width: 100%;
      margin-bottom: 1em;
      overflow: hidden;

      p {
        color: white;
        padding: 0.5em 1em;
        animation: movingHeadline 30s linear infinite;
        // cursor: pointer;
        white-space: nowrap;

        &:hover {
          // color: rgb(0, 132, 197);
          animation-delay: 1000s;
        }
      }
    }
    .MobileMovingHeadlineWrapper {
      display: none;
    }

    .UpperColumn {
      width: 100%;
      margin-left: 1em;

      .TitleWrapper {
        margin-left: 1em;

        h1 {
          font-weight: 600;
          font-size: 2em;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
        }

        .EIINBox {
          padding: 0.5em 1em;
        }

        .MobileMenuWrapper {
          display: none;
        }
      }
    }
  }

  .LowerRowWrapper {
    margin-top: 0.5em;

    button {
      font-family: Aleo, Helvetica, Arial, sans-serif;
      font-weight: 900;
      border-radius: 0;
    }
  }
}

.FooterWrapper {
  color: white;
  background-color: #f07070;

  .GridWrapper {
    padding: 3em;

    h3 {
      font-size: 1.8em;
      font-weight: 900;
      margin-bottom: 1em;
      font-family: Aleo, Helvetica, Arial, sans-serif;
    }

    p {
      margin-bottom: 0.4em;
      font-size: 1.3em;
      position: relative;
      padding-left: 1em;

      &::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        left: 0;
        top: 35%;
        background-color: white;
        border-radius: 1em;
      }
    }
  }

  .CopyRightWrapper {
    padding: 1em;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@media screen and (max-width: $mobileMediaThreshold) {
  .Header {
    padding: 0;
    padding-bottom: 1em;

    .UpperRowWrapper {
      flex-direction: column;

      .MobileMovingHeadlineWrapper {
        display: block;
        width: 100%;
      }

      .Logo {
        height: 5em;
        width: 5em;
      }

      .UpperColumn {
        overflow: hidden;

        .PcMovingHeadlineWrapper {
          display: none;
        }

        .EIINBox {
          display: none;
        }

        .TitleWrapper {
          margin: 0;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 2em 0 0;

          h1 {
            font-size: 1em;
          }

          .MobileMenuWrapper {
            margin-top: 1em;
            display: flex;

            button {
              border-radius: 0;
              font-family: Aleo, Arial, Helvetica, sans-serif;
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .LowerRowWrapper {
      display: none;
    }
  }

  .FooterWrapper {
    .GridWrapper {
      grid-template-columns: repeat(auto-fill, 100%);

      h3 {
        font-size: 1.3em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}
