@import "./constants.scss";

.HomePage {
  position: relative;
  background-color: #ffbdbd;
  background-image: url(../../public/assets/logo-bg-repeated-pattern.png);

  .HeroWrapper {
    padding-bottom: 4em;
    min-height: 100vh;
    width: 100vw;
    background-image: url("../../public//assets/hero-bg1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    .BgDarkGradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.0970982142857143) 100%
      );
    }

    .HeroMainTextWrapper {
      padding-left: $paddingLeftHeader;
      padding-top: 7em;
      position: relative;

      h2 {
        font-weight: 900;
        font-size: 3.8em;
        color: white;
        text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
        position: relative;
      }

      h2::before {
        content: "";
        position: absolute;
        height: 6px;
        width: 2em;
        top: -0.3em;
        border-radius: 1em;
        background-color: white;
      }
    }

    .HeroEventsWrapper {
      margin: 4em $paddingLeftHeader;
      color: white;
      background-color: rgba(255, 255, 255, 0.05);
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0 2em 0 5em;
      overflow-y: scroll;

      h3 {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 3em;
        transform: translateY(-50%) rotateZ(-90deg);
        font-weight: 900;
      }

      .EventColumn {
        margin-left: 1em;
        padding: 3em 1em;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
          background-color: rgba(255, 255, 255, 0.05);
        }

        h4 {
          font-size: 2em;
          font-weight: 900;
          font-family: Limelight, Aleo, Helvetica, Arial, sans-serif;
        }

        p {
          font-size: 1.3em;
          margin-left: 1em;
          min-width: 11em;
        }
      }
    }
  }

  .MessagesRowWrapper {
    background-color: #f07070;
    margin: 0 $paddingLeftHeader;
    padding: 1em;
    margin-top: -5em;
    padding-left: 6em;
    padding-right: 4em;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
    color: white;

    h3 {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 3em;
      transform: translateY(-50%) rotateZ(-90deg);
      font-weight: 900;
    }

    .MessageColumn {
      font-weight: 900;
      transition: 0.3s;
      cursor: pointer;
      margin: 0 1em;
      padding: 1em;
      border-radius: 1em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      img {
        height: 6em;
        width: 6em;
        border-radius: 100em;
        overflow: hidden;
        margin-right: 2em;
        border: 1px solid white;
      }

      h4 {
        font-size: 1.4em;
      }
    }
  }

  .WigglyBg1Wrapper,
  .WigglyBg2Wrapper {
    position: relative;

    .WiggleBg1,
    .WiggleBg2 {
      position: absolute;
      width: 100%;
    }

    .WiggleBg2 {
      top: -20vw;
    }
  }

  .NoticeBoxWrapper {
    margin: 4em;
    position: relative;

    .NoticeFakeBox {
      background-color: white;
      position: absolute;
      width: calc(70vw + 6em);
      height: calc(100% - 3em);
      top: 1.5em;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .NoticeBoxInnerWrapper {
      max-width: 70vw;
      padding: 3em;
      background-color: white;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
      position: relative;

      h3 {
        font-weight: 900;
        font-size: 1.3em;
      }

      .NoticesWrapper {
        margin-top: 1em;

        .Notice {
          margin-bottom: 1em;
          transition: 0.3s;
          cursor: pointer;
          padding: 0.4em;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          h4 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            margin-bottom: 0.5em;
            font-size: 1.1em;
            color: rgb(0, 132, 197);
          }

          p {
            padding-left: 2em;
            position: relative;

            &::before {
              left: 0;
              top: 40%;
              content: "";
              position: absolute;
              height: 3px;
              width: 1.3em;
              background-color: rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }

  .EventsImageGrid,
  .MobileEventsList {
    margin-top: 10em;
    position: relative;

    h3 {
      margin-left: 4em;
      font-weight: 900;
      font-size: 1.5em;
      margin-bottom: 2em;
    }

    .Event {
      background-size: cover;
      background-position: center;
      cursor: pointer;
      position: relative;
      color: white;

      &:hover .ReadMoreBox {
        height: 20%;
      }

      &:hover .TextWrapper {
        opacity: 0.6;
      }

      .ReadMoreBox {
        position: absolute;
        background-color: #f07070;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 0em;
        transition: 0.3s;

        p {
          text-align: center;
          font-weight: 900;
        }
      }

      .TextWrapper {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        padding: 1.3em;
        transition: 0.3s;

        h4 {
          font-family: Aleo, Helvetica, Arial, sans-serif;
          font-size: 1.5em;
        }
      }
    }
  }

  .MobileEventsList {
    display: none;
  }

  .LocationAboutBox {
    position: relative;
    background-color: #f07070;
    width: 80vw;
    color: white;
    font-family: Aleo, Arial, Helvetica, sans-serif;
    font-weight: 900;

    .LocationAboutBoxWrapper {
      .TextsWrapper {
        background-color: black;
        padding: 1em;

        p {
          font-size: 2em;
        }
      }
    }
    .Table {
      padding: 1em;
    }
  }
}

@media screen and (max-width: $mobileMediaThreshold) {
  .HomePage {
    .HeroWrapper {
      .HeroMainTextWrapper {
        h2 {
          font-size: 3em;
        }
      }
      .HeroEventsWrapper {
        padding-left: 3em;

        h3 {
          left: 1.4em;
        }
        .EventColumn {
          margin: 0;

          h4 {
            font-size: 1.1em;
          }
          p {
            font-size: 1em;
          }
        }
      }
    }

    .MessagesRowWrapper {
      margin-top: -3em;
      flex-direction: column;
      padding: 0.5em;
      width: 100%;

      h3 {
        transform: none;
        top: -2.5em;
        left: 0;
      }

      .MessageColumn {
        padding: 0.4em;
        margin: 0.2em;

        img {
          width: 3em;
          height: 3em;
        }
        h4 {
          font-size: 1em;
        }
        p {
          margin-top: 0.2em;
          font-size: 0.8em;
        }
      }
    }

    .NoticeBoxWrapper {
      margin: 3em 1.5em;

      .NoticeBoxInnerWrapper {
        max-width: 100%;
        padding: 1em;

        .NoticesWrapper {
          .Notice {
            h4 {
              font-size: 1em;
            }
            p {
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .EventsImageGrid {
      display: none;
    }
    .MobileEventsList {
      display: block;
      padding: 0 1em;
      margin-top: 5em;

      h3 {
        margin: 0;
      }

      .EventWrapper {
        height: 60vw;
        width: 100%;
        margin-top: 0.5em;
      }
    }
    .LocationAboutBox {
      width: 90vw;

      .LocationAboutBoxWrapper {
        flex-direction: column;

        .TextsWrapper {
          p {
            margin-top: 0.5em;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
