$paddingLeftHeader: 6vw;

.Header {
  background-color: rgba(255, 99, 99, 0.73);
  backdrop-filter: saturate(70%) blur(4px);
  // box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
  width: 100%;
  padding-left: $paddingLeftHeader;
  position: relative;
  z-index: 1000;

  .UpperRowWrapper {
    .Logo {
      height: 7em;
    }

    .UpperColumn {
      width: 100%;
      margin-left: 1em;

      .MovingHeadlineWrapper {
        background-color: black;
        width: 100%;
        margin-bottom: 1em;

        p {
          color: white;
          padding: 0.5em 1em;
        }
      }

      h1 {
        font-weight: 600;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin-left: 1em;
      }
    }
  }

  .LowerRowWrapper {
    margin-top: 0.5em;

    button {
      font-family: Aleo, Helvetica, Arial, sans-serif;
      font-weight: 900;
      border-radius: 0;
    }
  }
}

.HomePage {
  position: relative;
  background-color: #ffbdbd;
  background-image: url(../../public/assets/logo-bg-repeated-pattern.png);

  .HeroWrapper {
    padding-bottom: 4em;
    min-height: 100vh;
    width: 100vw;
    background-image: url("../../public//assets/hero-bg1.jpg");
    position: relative;

    .BgDarkGradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.0970982142857143) 100%
      );
    }

    .HeroMainTextWrapper {
      padding-left: $paddingLeftHeader;
      padding-top: 7em;
      position: relative;

      h2 {
        font-weight: 900;
        font-size: 3.8em;
        color: white;
        text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
        position: relative;
      }

      h2::before {
        content: "";
        position: absolute;
        height: 6px;
        width: 2em;
        top: -0.3em;
        border-radius: 1em;
        background-color: white;
      }
    }

    .HeroEventsWrapper {
      margin: 4em $paddingLeftHeader;
      color: white;
      background-color: rgba(255, 255, 255, 0.05);
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding: 2em 2em 2em 5em;
      overflow-y: scroll;

      h3 {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 3em;
        transform: translateY(-50%) rotateZ(-90deg);
        font-weight: 900;
      }

      .EventColumn {
        margin-left: 1em;
        padding: 1em;

        h4 {
          font-size: 2em;
          font-weight: 900;
          font-family: Limelight, Aleo, Helvetica, Arial, sans-serif;
        }

        p {
          font-size: 1.3em;
          margin-left: 1em;
        }
      }
    }
  }

  .MessagesRowWrapper {
    background-color: #f07070;
    margin: 0 $paddingLeftHeader;
    padding: 1em;
    margin-top: -5em;
    padding-left: 6em;
    padding-right: 4em;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
    color: white;

    h3 {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 3em;
      transform: translateY(-50%) rotateZ(-90deg);
      font-weight: 900;
    }

    .MessageColumn {
      font-weight: 900;
      transition: 0.3s;
      cursor: pointer;
      margin: 0 1em;
      padding: 1em;
      border-radius: 1em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      img {
        height: 6em;
        width: 6em;
        border-radius: 100em;
        overflow: hidden;
        margin-right: 2em;
        border: 1px solid white;
      }

      h4 {
        font-size: 1.4em;
      }
    }
  }

  .NoticeBoxWrapper {
    margin: 4em;
    position: relative;

    .NoticeFakeBox {
      background-color: white;
      position: absolute;
      width: calc(800px + 6em);
      height: calc(100% - 3em);
      top: 1.5em;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .NoticeBoxInnerWrapper {
      max-width: 800px;
      padding: 3em;
      background-color: white;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
      position: relative;

      h3 {
        font-weight: 900;
        font-size: 1.3em;
      }

      .NoticesWrapper {
        margin-top: 1em;

        .Notice {
          margin-bottom: 2em;
          transition: 0.3s;
          cursor: pointer;
          padding: 0.4em;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          h4 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            margin-bottom: 0.5em;
            font-size: 1.1em;
            color: rgb(0, 132, 197);
          }

          p {
            padding-left: 2em;
            position: relative;

            &::before {
              left: 0;
              top: 40%;
              content: "";
              position: absolute;
              height: 3px;
              width: 1.3em;
              background-color: rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
}
