@import "../constants.scss";

.SideBoxWrapper {
  font-weight: 900;
  background-color: #f07070;
  min-height: 100vh;

  p {
    color: white;
  }
}

.DashboardPageBody {
  width: 100%;

  p {
    color: white;
  }
}

.DashEventsPageBody {
  width: 100%;
}
